* {
    margin: 0;
    padding: 0;
}
.container {
    background-image: url(https://www.sadahastanesi.com/tr/public/storage/pizza-kac-kalori---pizzanin-besin-degeri.webp);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
body {
    background-color: rgb(255, 255, 255);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 71, 71) 0%, rgb(85, 255, 227) 74%);
}
   
ul {
    list-style-type: none;
    color: rgb(255, 255, 255);
}

li {
    display: inline-block;
    font-size: 22px;
    margin-top: 25px;
    margin-right: 45px;
    margin-left: 20px;
    margin-bottom: 20px
    
}

img {
width: 250px;
height: 250px;
}
.btn {
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .btn svg {
    transition: transform 0.5s;
  }
  
  .btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
  